* {
    box-sizing: border-box;
}
nav {
    padding: 5px;
    width: 80%;
    margin:0 auto ;
    background-color: #dbd9ab;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 5px;
    flex-grow:1;
    list-style:none;

}
nav ul li {
    background-color: gray;
    display: inline-block;
}
nav ul li a {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(54, 20, 20);
    display: block;
    background-color:beige;
}
nav ul li a:hover {
background-color: #90689d;
}